.container
  .row
    .col-sm-12
      %h1 #{@users.count} Users
  .row
  - @users.each do |user|
    .col-sm-12
      %h2= "User #{user.id}"
      %p <b>Name:</b> #{user.name}
      %p <b>Email:</b> #{user.email}
      %p <b>Manager ID:</b> #{user.manager_id}
      %h5 Orders
      - if user.orders.count > 0
        - user.orders.each_with_index do |order, index|
          %p= "#{index + 1}. Order #{order.id}"
      - else
        %p= "This user doesn't have any orders."
