.container
  .row
    .col-sm-12
      %h1 #{@orders.count} Orders
  .row
  - @orders.each do |order|
    .col-sm-12
      %h2= "Order #{order.id}"
      %h5= "Client: #{order.user.name}"
      %h5 Order Items
      - order.items.each_with_index do |item, index|
        %p= "#{index + 1}. #{item.name}"