<div class="container">
  <div class="col-sm-12">
    <h1>Create Item</h1>
  </div>
  <div class="col-sm-6">
    <%= form_for @item do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <%= f.submit "Create Item", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
