%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"} Storedom
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "/"} Items
      %li
        %a{href: "/users"} Users
      %li
        %a{href: "/orders"} Orders
      - if user_signed_in?
        %li.navbar-link.login-info= link_to "Logged in as #{current_user.email}", edit_user_registration_path
        %li.navbar-link.login-info= link_to "Logout", destroy_user_session_path, method: :delete
      - else
        %li.navbar-link.login-info= link_to "Sign up", new_user_registration_path
        %li.navbar-link.login-info= link_to "Login", new_user_session_path
